body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  padding: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  justify-content: center;
}
section {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 30px;
  over-flow-y: hidden;
}

main {
  background: #f7f7f7;
  border-radius: 30px;
  min-height: 100px;
  padding-top: 10px;
}
.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  height: 90px;
  width: 90px;
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
}